.navigation-item {
  width: 220px;
  padding: 10px;
}

.navigation-item a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
  transition:
    background-color ease-in-out 0.1s,
    color ease-in-out 0.1s;
  text-decoration: none;
  color: var(--color-text-light);
}

.navigation-item a:hover {
  background-color: var(--color-white);
  color: var(--color-text-bold);
  transition:
    background-color ease-in-out 0.1s,
    color ease-in-out 0.1s;
}

.navigation-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: var(--accent-color);
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  border-radius: 12px;
  transition:
    background-color ease-in-out 0.2s,
    color ease-in-out 0.2s;
}

.navigation-item a:hover .navigation-item__icon {
  background-color: var(--accent-color);
  color: var(--color-white);
  transition:
    background-color ease-in-out 0.2s,
    color ease-in-out 0.2s;
}
