.header {
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-bold);
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--accent-color);
}
